@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
    font: 12pt Arial;
}
h1, h2 {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
}
input {
    font: 12pt Arial;
}
button {
    background-color: green;
    color: white;
    font-size: 12pt;
    padding: 5px;
}